[
{
	"name": "Bob McBobberson",
	"rooms": [151, 152, 153, 155],
	"contact": ["555-555-5555", "bob@example.com"],
	"skills": ["Node JS", "Android", "Soldering", "General info"]
}, 
{
	"name": "Jimmy Jimbo Jr.",
	"rooms": [], 
	"contact": ["jjj@example.com"],
	"skills": ["C++", "Arduino", "Soldering"]
}
]